/*body {background-color: #222; color: #eee; background-attachment: fixed;}*/
body {background-color: #222; color: #eee; background-image: url(https://source.unsplash.com/800x600/?programming); background-size: cover; background-attachment: fixed;}
a {color: #aaa;}
a:visited {color: #777;}

li {margin: 15px 5px; display: inline-block;}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(350deg, transparent -100%, #222 90%);
}

.content {
    position: absolute;
}